
@import url("https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
* {
  font-family: "Kedebideri", sans-serif;
  font-style: normal;
}

/* #3A6EA5 */